<div class="sing-in-widget-container" [ngClass]="rootClassName">
  <div class="sing-in-widget-container1">
    <button class="button">{{ button_singin }}</button>
  </div>
  <div data-thq="thq-dropdown" class="sing-in-widget-thq-dropdown list-item">
    <div data-thq="thq-dropdown-toggle" class="sing-in-widget-dropdown-toggle">
      <svg viewBox="0 0 1024 1024" class="sing-in-widget-icon">
        <path
          d="M512 820q68 0 143-40t113-98q-2-56-90-94t-166-38-166 37-90 95q38 58 113 98t143 40zM512 214q-52 0-90 38t-38 90 38 90 90 38 90-38 38-90-38-90-90-38zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span class="sing-in-widget-text">Logued User</span>
      <div data-thq="thq-dropdown-arrow" class="sing-in-widget-dropdown-arrow">
        <svg viewBox="0 0 1024 1024" class="sing-in-widget-icon2">
          <path d="M426 726v-428l214 214z"></path>
        </svg>
      </div>
    </div>
    <ul data-thq="thq-dropdown-list" class="sing-in-widget-dropdown-list">
      <li data-thq="thq-dropdown" class="sing-in-widget-dropdown list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="sing-in-widget-dropdown-toggle1"
        >
          <span class="sing-in-widget-text1">Profile</span>
          <svg viewBox="0 0 1024 1024" class="sing-in-widget-icon4">
            <path
              d="M864 0h-768c-52.8 0-96 43.2-96 96v832c0 52.8 43.2 96 96 96h768c52.8 0 96-43.2 96-96v-832c0-52.8-43.2-96-96-96zM832 896h-704v-768h704v768zM256 576h448v64h-448zM256 704h448v64h-448zM320 288c0-53.019 42.981-96 96-96s96 42.981 96 96c0 53.019-42.981 96-96 96s-96-42.981-96-96zM480 384h-128c-52.8 0-96 28.8-96 64v64h320v-64c0-35.2-43.2-64-96-64z"
            ></path>
          </svg>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="sing-in-widget-dropdown1 list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="sing-in-widget-dropdown-toggle2"
        >
          <span class="sing-in-widget-text2">
            <span class="sing-in-widget-text3">Sing Out</span>
            <br />
          </span>
          <svg viewBox="0 0 1024 1024" class="sing-in-widget-icon6">
            <path
              d="M768 640v-128h-320v-128h320v-128l192 192zM704 576v256h-320v192l-384-192v-832h704v320h-64v-256h-512l256 128v576h256v-192z"
            ></path>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>
