<div class="sing-in-container" [ngClass]="rootClassName">
  <h1 class="sing-in-text">{{ heading }}</h1>
  <form class="sing-in-form">
    <div class="sing-in-container1">
      <label class="sing-in-text1">{{ label_email }}</label>
      <input
        type="text"
        [attr.placeholder]="textinput_email"
        class="sing-in-textinput input"
      />
    </div>
    <div class="sing-in-container2">
      <label class="sing-in-text2">{{ label_password }}</label>
      <input
        type="text"
        [attr.placeholder]="textinput_password"
        class="input"
      />
    </div>
    <div class="sing-in-container3">
      <button class="button">{{ button_singin }}</button>
      <button class="button">{{ button_cancel }}</button>
    </div>
  </form>
</div>
