:host { 
  display: contents; 
}
.sing-in-container {
  width: 68.2%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-500);
}
.sing-in-text {
  color: #ffffff;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: var(--dl-space-space-unit);
}
.sing-in-form {
  flex: 1;
  height: 316px;
  align-self: center;
}
.sing-in-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.sing-in-text1 {
  color: #ffffff;
}
.sing-in-textinput {
  width: auto;
}
.sing-in-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.sing-in-text2 {
  color: #ffffff;
}
.sing-in-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: space-between;
}
